<!DOCTYPE html>
<html lang="en" ng-app="hackerNews">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <title>Hacker News</title>
</head>
<body ng-controller="getData">
    <div class="container bg-light p-0">
        <nav style="background-color: #FB693F" class="navbar mt-1">
            <ul style="list-style: none" class="m-0 p-0">
                <li style="margin-left: 5px">
                    <img class="border me-1" src="https://news.ycombinator.com/y18.gif" alt="logo" > <span class="fw-bold">Hacker News</span>
                </li>
            </ul>
        </nav>

        <ul class="container mt-2" style="list-style: none">
            <li class="bg-light border-0" ng-repeat="article in data | limitTo: 30 : start ">
                <a href="{{article.url}}" class="text-dark text-decoration-none fw-bolder">{{$index + 1 + start}}. {{ article.title }}</a>
                <p class="ms-3 text-secondary mb-1" style="font-size: 11px">{{ article.score }} points by {{ article.by }} {{ showTime(article.time) }} | {{ article.descendants }} comments</p>
            </li>
        </ul>

        <div class="container d-flex justify-content-center">
            <a ng-click="prev()" class="me-3">Prev</a>
            <a ng-click="next()">Next</a>
        </div>

    </div>

    

    <script src="./script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>